<div class="header">
  <img src="../../assets/gunjaran.jpg" alt="logo" />
  <h1>Gunjaran Creations</h1>
  <!-- <h1><img src="../../assets/gunjaran.jpg" alt="logo" /> My website name</h1> -->
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="row row-cols"></div>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="inputFirstName"
            formControlName="firstName"
          />
        </div>
        <div class="form-group">
          <label for="inputLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="inputLastName"
            formControlName="lastName"
          />
        </div>
        <div class="form-group">
          <label for="inputLastName">Phone</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            formControlName="phone"
          />
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
            formControlName="street"
          />
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="Apartment, studio, or floor"
            formControlName="street2"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              id="inputCity"
              formControlName="city"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select
              id="inputState"
              class="form-control"
              formControlName="state"
            >
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input
              type="text"
              class="form-control"
              id="inputZip"
              formControlName="zip"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="inputVideo">Upload Video</label>
            <input
              type="file"
              class="form-control"
              id="inputvideo"
              accept="video/*"
            />
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary form-control"
          [disabled]="!profileForm.valid"
        >
          Submit
        </button>
      </form>
      <div></div>
    </div>
    <div class="col"></div>
  </div>
</div>
